# Dependencies
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Environment / secrets (NE PAS committer)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Tests / coverage
coverage/

# Caches
.tmp/
.cache/
.eslintcache
.vite/

# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp
